# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
testem.log
/typings

### Node ###
# Logs
**/logs
**/*.log
**/*.log.*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
*.iml
.directory
.vscode/
cadastroprogramas/src/test/java/br/mil/eb/cds/gp3eb/cadastroprogramas/config/
cliente-web/.angulardoc.json
cliente-web/.vscode/
comum/target/
target/
pom.xml.versionsBackup
